<div class="container">
  <h1>Lists</h1>

  <% @lists.each do |list| %>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
  </ul>
  <% end %>
</div>
