<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Watch Lists</a>
    <%= link_to "Add new watch list", new_list_path %>
  </nav>

  <% @lists.each do |list| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= cl_image_tag(list.photo.key, height: 200, width: 200, crop: :fill )%>
      <%= link_to list.name, list_path(list) %>
    </li>
  </ul>
  <% end %>


</div>
