<div class="container">
  <h1><%= @list.name %></h1>

  <% @list.bookmarks.each do |bookmark| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%=  bookmark.movie.title %>
      <%= link_to "Delete movie",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  </ul>
  <% end %>
</div>

<%= link_to "Add new bookmark", new_list_bookmark_path(@list) %>
